.App {
  text-align: center;
  background-color: #282C34;
  color: white;
}

.header {
  height: 50px;
  font-size: 30px;
  padding: 20px;
}

.score {
  padding-bottom: 20px;
}

.cards {
  margin: 0 auto;
  padding: 100px 20px 0 20px;
  box-sizing: border-box;
  max-width: 500px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.popup-content {
  background-color: #2b9595;
  border: 0;
  border-radius: 5px;
  color: white;
  max-width: 250px;
  text-align: center;
  padding: 20px;
}

.popup-content .close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 24px;
}

@media screen and (max-width: 499px) {
  .cards {
    padding: 30px 20px 0 20px;
    grid-gap: 10px;
  }
}